html { 
        width: 1200px;
        margin: auto;
        background-image: linear-gradient(pink, purple)
  }
body { 
    text-align: center 
    }
p {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px; 
  } 
section {
    border: 10px solid white; 
    }
section.travel {
    color: white 
}
#bold { 
    font-style: oblique;
}